<div class="background">

</div>
<div class="container">
    <div class="form-container">
        <div class="close-btn">X</div>
        <h2>Termék hozzáadása</h2>
        <form id="productForm">
            <input type="text" id="productName" placeholder="Termék neve" required>
            <textarea id="productDescription" placeholder="Leírás" rows="4" required></textarea>
            <input type="number" id="productPrice" placeholder="Ár (Ft)" required>
            <input type="file" id="productImage" accept="image/*">
            <button type="submit">Hozzáadás</button>
            <div class="error">Hiba a mentés során: ...</div>
        </form>

    </div>
</div>