<nav class="navbar">
    <div class="menu">
        <h3>Mobil webshop</h3>
        <a routerLink="products" routerLinkActive="selected">Termékek</a>
        <a routerLink="orders" routerLinkActive="selected">Megrendelések</a>
        <a routerLink="admin" routerLinkActive="selected">Admin</a>
    </div>
    @if (!authService.loggedInUser) {
        <div>
            <a routerLink="register" routerLinkActive="selected">Regisztráció</a>
            <a routerLink="login" routerLinkActive="selected">Login</a>
        </div>
    } @else
    {
        <div class="user-menu" onclick="toggleDropdown()">
            <a>{{authService.loggedInUser.name}}</a>
            <div class="dropdown" id="dropdownMenu">
                <a href="#" (click)="authService.logout()">Kijelentkezés</a>
            </div>
        </div>
    }
</nav>
