<h2>Terméklista</h2>
<table>
    <thead>
        <tr>
            <th>
                <button class="new">Új termék</button>
            </th>
            <th>Termék neve</th>
            <th>Ár (Ft)</th>
        </tr>
    </thead>
    <tbody id="productTable">
        <tr>
            <td>
                <span class="icon edit">✏️</span>
                <span class="icon delete">🗑️</span>
            </td>
            <td>iPhone 15 Pro Max</td>
            <td>599 999 Ft</td>
        </tr>
        <tr>
            <td>
                <span class="icon edit">✏️</span>
                <span class="icon delete">🗑️</span>
            </td>
            <td>Samsung Galaxy S23 Ultra</td>
            <td>549 999 Ft</td>
        </tr>
    </tbody>
</table>