<div class="order-container">
    <div class="order">
        <div class="order-header" onclick="toggleOrder(this)">
            <span>#106</span>
            <span>2024-02-01</span>
            <span>18 500 Ft</span>
        </div>
        <div class="order-details">
            <ul>
                <li><span>Termék 1</span> <span>5000</span></li>
                <li><span>Termék 2</span> <span>7500</span></li>
                <li><span>Termék 3</span> <span>4000</span></li>
            </ul>
        </div>
    </div>

    <div class="order">
        <div class="order-header" onclick="toggleOrder(this)">
            <span>#67</span>
            <span>2024-01-28</span>
            <span>10 200 Ft</span>
        </div>
        <div class="order-details">
            <ul>
                <li><span>Termék 4</span> <span>3200</span></li>
                <li><span>Termék 5</span> <span>7000</span></li>
            </ul>
        </div>
    </div>

    <div class="order">
        <div class="order-header" onclick="toggleOrder(this)">
            <span>#12</span>
            <span>2024-01-15</span>
            <span>25 000 Ft</span>
        </div>
        <div class="order-details">
            <ul>
                <li><span>Termék 6</span> <span>12000</span></li>
                <li><span>Termék 7</span> <span>8000</span></li>
                <li><span>Termék 8</span> <span>5000</span></li>
            </ul>
        </div>
    </div>
</div>